@use "sass:list";

// palettes
$base-palette: [ #E8EEEE, #1EEBC9, #DAA1E5, #139983, #881C9E, #03322A ];
$test-palette: [ #EFFCFF, #81EFD7, #02CCFF, #26AF91, #0D647A, #06322B ];

$draft: #A3CFFF;
$canceled: #FF745B;
$finished: #87C95E;


// sizes
$navbar-height: 40px;

* {
  margin: 0;
  box-sizing: border-box;
}

.fa-star {
  color:#FFDC00;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: "Poppins", sans-serif;

  .modals{
    display: none;
  }

  nav {
    width: 100%;
    height: $navbar-height;
    background-color: list.nth($base-palette, 1);
    border-bottom: 1px solid black;
  }

  .content {
    width: 100%;
    height: calc(100% - $navbar-height);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    main {
      width: calc((100%/3)*2);
      height: 100%;
      background-color: list.nth($base-palette, 2);

      .tests-files-wrapper {
        display: flex;
        flex-direction: row;
        column-gap: 20px;
        padding: 20px;
        .test  {
          background-color: grey;
          font-weight: 700;
          height: 250px;
          width: 200px;

          &.draft {
            background-color: $draft;
          }

          &.finished {
            background-color: $finished;
            color: white;
          }

          &.canceled {
            background-color: $canceled;
            color: white;
          }

        }
      }


      .variable-display-wrapper {
        background-color: list.nth($base-palette, 4);
        overflow-y: auto;
        overflow-x: hidden;

        &.test {
          padding: 20px;

          header {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            span {
              font-size: 25px;
              font-weight: 700;
            }

          }

          .content {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: start;

            .test-row {
              display: flex;
              flex-direction: row;
              align-items: center;
              justify-content: center;
              width: 100%;
              height: 75px;
              padding: 0 10px;

              .flex-start  {
                width: 25%;

                .test-status {
                  border-radius: 25px;
                  padding: 5px 10px;

                  &.draft {
                    background-color: $draft;
                  }

                  &.finished {
                    background-color: $finished;
                    color: white;
                  }

                  &.canceled {
                    background-color: $canceled;
                    color: white;
                  }
                }
              }

              .flex-middle {
                width: 65%;
              }

              .flex-end {
                width: 10%;
              }
            }
          }
        }
      }
    }

    aside {
      width: calc((100%/3)*1);
      height: 100%;
      background-color: list.nth($base-palette, 3);
      padding: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      hr {
        width: 80%;
      }

      .subjects-display-wrapper {
        .subject {
          border-radius: 25px;
        }
      }
    }
  }
}