// Example clean print-safe styling
@page {
  size: A4;
  margin: 15mm;
}

span {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

body {
  header {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 5px;

    hr {
      width: 100%;
    }

    .header-test-variant {
      font-size: 25px;
    }

    .header-row-one {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: start;
      column-gap: 5px;
      width: 100%;

      .header-test-subject {
        flex-grow: 3;
        font-size: 20px;
      }

      .header-test-date {
        flex-grow: 1;
        font-size: 18px;
      }
    }

    .header-name {
      font-size: 18px;
      align-self: start;
    }
  }

  .questions {
    font-family: "Poppins", sans-serif;
    display: flex;
    align-items: start;

    .question-wrapper {
      display: flex;
      flex-direction: column;
      row-gap: 5px;

      .flex-row-one {
        width: inherit;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: start;
        column-gap: 5px;

        .question-number::after {
          content: ")";
        }
      }

      .flex-row-two {
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: start;
        column-gap: 5px;
      }
    }
  }
}