// Example clean print-safe styling
@page {
  size: A4;
  margin: 15mm;
}

span {
  background-color: rgb(122 122 143 / 0.75);

  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

body {
  header {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 5px;

    hr {
      width: 100%;
    }

    .header-test-variant {
      font-size: 25px;
    }

    .header-row-one {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: start;
      column-gap: 5px;
      width: 100%;

      .header-test-subject {
        flex-grow: 3;
        font-size: 20px;
      }

      .header-test-date {
        flex-grow: 1;
        font-size: 18px;
      }
    }

    .header-name {
      font-size: 18px;
      align-self: start;
    }
  }

  ol {
    font-family: "Poppins", sans-serif;
    list-style: none;
    display: flex;
    align-items: start;

    .question-wrapper {
      display: flex;
      flex-direction: column;
      row-gap: 5px;
      width: 110%;

      .flex-row-one {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: start;

        .question-number {
          flex-grow: 1;
        }

        .question-assignment {
          flex-grow: 9;
        }
      }


      .flex-row-two {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: start;
        column-gap: 5px;

        .answer {
          order: 1;
          flex-grow: 1;
          background-color: rgb(122 122 143 / 0.75);
        }

        .question-answers {
          order: 3;
          flex-grow: 3;
          list-style: none;
        }
      }
    }
  }
}