<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <script src="https://kit.fontawesome.com/636db4ca92.js" crossorigin="anonymous"></script>

    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            row-gap: 5px;
            margin: 0;
            width: 100vw;
            height: 100vh;
        }

        i, svg {
            font-size: 24px;
        }
    </style>
</head>
<body>

<i class="fa-solid fa-envelope"></i>
<i class="fa-solid fa-inbox"></i>
<i class="fa-regular fa-message"></i>

<i class="fa-solid fa-user"></i>


<i class="fa-solid fa-graduation-cap"></i>
<i class="fa-solid fa-book-open"></i>
<i class="fa-solid fa-user-graduate"></i>

<i class="fa-solid fa-folder"></i>

<i class="fa-solid fa-file-pdf"></i>

<i class="fa-solid fa-user-pen"></i>

<i class="fa-solid fa-square-caret-up"></i>
<i class="fa-solid fa-square-caret-right"></i>
<i class="fa-solid fa-square-caret-left"></i>
<i class="fa-solid fa-square-caret-down"></i>

<i class="fa-solid fa-square-envelope"></i>

<i class="fa-solid fa-sort-up"></i>
<i class="fa-solid fa-sort-down"></i>

<i class="fa-solid fa-shuffle"></i>

<i class="fa-solid fa-folder-plus"></i>
<i class="fa-solid fa-folder-minus"></i>
<i class="fa-solid fa-folder-closed"></i>

<i class="fa-solid fa-floppy-disk"></i>

<i class="fa-solid fa-file-circle-check"></i>

<i class="fa-solid fa-circle-plus"></i>
<i class="fa-solid fa-circle-minus"></i>

<i class="fa-solid fa-book-medical"></i>

<i class="fa-solid fa-arrow-rotate-right"></i>

<i class="fa-regular fa-file-lines"></i>
<i class="fa-regular fa-floppy-disk"></i>
<i class="fa-solid fa-file-pen"></i>
<i class="fa-solid fa-file-export"></i>

</body>
</html>S
</html>S