<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1> This is a prototype rn its just crossroad </h1>

<ul>
    <li> <a th:href="@{/test_maker}"> test maker</a> </li>
    <li> <a th:href="@{/test_template}"> test template </a> </li>
    <li> <a th:href="@{/question_maker}"> question maker</a> </li>
    <li> <a th:href="@{/main}"> main </a> </li>
    <li> <a th:href="@{/main2}"> main2 </a> </li>
    <li> <a th:href="@{/icons}"> icons </a> </li>
</ul>

</body>
</html>