<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" th:href="@{dist/login.css}">

    <script src="https://kit.fontawesome.com/636db4ca92.js" crossorigin="anonymous"></script>
</head>
<body>

<main>

    <div id="cover"></div>

    <div id="login-wrapper">
        <h1 class="heading">Hello back in</h1>

        <form action="" id="login-form">
            <div id="login-form-name-wrap">
                <input type="text" placeholder="first name" />
                <input type="text" placeholder="surname" />
            </div>
            <input type="email" placeholder="email" />
            <input type="password" placeholder="password" />
            <input type="submit" placeholder="login in" />
        </form>
    </div>

    <div id="new-account-wrapper">

        <h1 class="heading">Hi and welcome</h1>

        <form action="" id="new-account-form">
            <div id="new-account-form-name-wrap">
                <input type="text" placeholder="first name" />
                <input type="text" placeholder="surname" />
            </div>
            <input type="email" placeholder="email" />
            <input type="password" placeholder="password" />
            <input type="submit" placeholder="login in" />
        </form>

    </div>

</main>

</body>
</html>