<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" th:href="@{dist/main-ver2.css}">
    <script src="https://kit.fontawesome.com/636db4ca92.js" crossorigin="anonymous"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body>

<div class="modals">

    <dialog class="new-test-popup"></dialog>

</div>

<nav>
    <div class="logo"></div>

    <div class="logout-btn"></div>
</nav>

<div class="content">

    <main>
        <div class="tests-files-wrapper">
            <div class="test draft">
                <div class="flex-top">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-ellipsis-vertical"></i>
                </div>

                <div class="flex-bottom">
                    <span class="test-name">name</span>
                    <span class="test-subject">subject</span>
                    <span class="test-variants"></span>
                </div>
            </div>

            <div class="test finished">
                <div class="flex-top">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-ellipsis-vertical"></i>
                </div>

                <div class="flex-bottom">
                    <span class="test-name">name</span>
                    <span class="test-subject">subject</span>
                    <span class="test-variants"></span>
                </div>
            </div>

            <div class="test canceled">
                <div class="flex-top">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-ellipsis-vertical"></i>
                </div>

                <div class="flex-bottom">
                    <span class="test-name">name</span>
                    <span class="test-subject">subject</span>
                    <span class="test-variants"></span>
                </div>
            </div>

            <div class="test">
                <div class="flex-top">
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-solid fa-ellipsis-vertical"></i>
                </div>

                <div class="flex-bottom">
                    <span class="test-name">name</span>
                    <span class="test-subject">subject</span>
                    <span class="test-variants"></span>
                </div>
            </div>
        </div>
        <div class="variable-display-wrapper test">
            <header>
                <span>test test</span>
                <button class="action-btn new-test">
                    <i class="fa-solid fa-file-pen"></i>
                    <span>New Test</span>
                </button>
            </header>

            <div class="content">
                <div class="test-row">
                    <div class="flex-start">
                        <i class="fa-solid fa-file-pen"></i>

                        <span class="test-name">drafted test</span>
                        <span class="test-status draft">Draft</span>
                    </div>

                    <div class="flex-middle">
                        <span class="test-subject">Math</span>
                    </div>

                    <div class="flex-end">
                        <i class="fa-regular fa-star"></i>
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </div>
                </div>
                <div class="test-row">
                    <div class="flex-start">
                        <i class="fa-solid fa-file-circle-xmark"></i>

                        <span class="test-name">Canceled test</span>
                        <span class="test-status canceled">Canceled</span>
                    </div>

                    <div class="flex-middle">
                        <span class="test-subject">Math</span>
                    </div>

                    <div class="flex-end">
                        <i class="fa-regular fa-star"></i>
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </div>
                </div>
                <div class="test-row">
                    <div class="flex-start">
                        <i class="fa-solid fa-file-circle-check"></i>

                        <span class="test-name">Finished test</span>
                        <span class="test-status finished">Finished</span>
                    </div>

                    <div class="flex-middle">
                        <span class="test-subject">Math</span>
                    </div>

                    <div class="flex-end">
                        <i class="fa-regular fa-star"></i>
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </div>
                </div>
                <div class="test-row">
                    <div class="flex-start">
                        <i class="fa-solid fa-file-pen"></i>

                        <span class="test-name">drafted test</span>
                        <span class="test-status draft">Draft</span>
                    </div>

                    <div class="flex-middle">
                        <span class="test-subject">Math</span>
                    </div>

                    <div class="flex-end">
                        <i class="fa-regular fa-star"></i>
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <aside>
        <div class="toolbar-wrapper">
            <div class="new-test-btn">
                <i class="fa-solid fa-file-circle-plus"></i>

                <span class="title">Crete new test</span>

                <i class="fa-solid fa-plus"></i>
            </div>
            <div class="new-question-btn">
                <i class="fa-solid fa-question"></i>

                <span class="title">Crete new question</span>

                <i class="fa-solid fa-plus"></i>
            </div>
            <div class="question-approval-btn">
                <i class="fa-solid fa-pen-ruler"></i>

                <span class="title">Approve questions</span>

                <i class="fa-solid fa-arrow-right"></i>
            </div>
            <div class="create-subject-btn">
                <i class="fa-solid fa-folder-plus"></i>

                <span class="title">Crete new subject</span>

                <i class="fa-solid fa-plus"></i>
            </div>
        </div>
        <hr>
        <div class="subjects-display-wrapper">
            <div class="subject">
                <span class="name">Math</span>
                <div class="categories-amount">Categories: 4</div>
                <span class="question-amount">Questions: 20</span>
            </div>

            <div class="subject">
                <span class="name">OOP</span>
                <div class="categories-amount">Categories: 4</div>
                <span class="question-amount">Questions: 20</span>
            </div>

            <div class="subject">
                <span class="name">Algorithm basics</span>
                <div class="categories-amount">Categories: 4</div>
                <span class="question-amount">Questions: 20</span>
            </div>
        </div>
    </aside>
</div>

</body>
</html>