<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link rel="stylesheet" href="/dist/question_style.css">
</head>
<body>

<form>
    <div class="flex">
        <div class="start">
            <input id="question-assignment" type="text" placeholder="Question assignment" />

            <select name="categoryID" id="categoryID">
                <option th:each="cat : ${categories}"
                        th:value="${cat.categoryID}"
                        th:text="${cat.categoryName}">
                </option>
            </select>
        </div>

        <div class="questions">

            <div class="question">
                <input class="question-answer" type="text">
                <input type="checkbox">
            </div>

            <div class="question">
                <input class="question-answer" type="text">
                <input type="checkbox">
            </div>

            <div class="question">
                <input class="question-answer" type="text">
                <input type="checkbox">
            </div>

            <div class="question">
                <input class="question-answer" type="text">
                <input type="checkbox">
            </div>

            <button id="add-question">+</button>
        </div>
    </div>
    <input type="submit" id="submit" placeholder="add question">

</form>

</body>
</html>