<!DOCTYPE html>
<html lang="cs" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{dist/pdf-template.css}">
</head>
<body>


<header>
    <h2 id="header-variant" th:text="${variant}" ></h2>
    <hr>
    <span id="header-subject" th:text="${subject}"></span>
    <div id="header-row">
        <span id="header-name">Jméno:</span>
        <span id="header-date">Datum: </span>
    </div>
    <hr>
</header>


<table th:each="question, questionData : ${questions}">
    <tr>
        <th>Oprava</th>
        <th>Odpověď</th>
        <th th:text="${questionData.index + 1}"></th>
        <th th:text="${question.assignment}"></th>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td> a </td>
        <td th:text="${question.answers[0]}"></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td> b </td>
        <td th:text="${question.answers[1]}"></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td> c </td>
        <td th:text="${question.answers[2]}"></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td> d </td>
        <td th:text="${question.answers[3]}"></td>
    </tr>
</table>

</body>
</html>