<!DOCTYPE html>
<html lang="cs" xmlns:th="http://www.thymeleaf.org">
<head>
    <style>
        /* Paste the contents of test_template.css directly here */
        body { font-family: sans-serif; }
        .question { margin-bottom: 15px; }
    </style>
</head>
<body>


<h1> Test <span th:text="${testName}"></span> </h1>


<table th:each="question, questionData : ${questions}">
    <tr>
        <th>Oprava</th>
        <th>Odpověď</th>
        <th th:text="${questionData.index + 1}"></th>
        <th th:text="${question.assignment}"></th>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td> a </td>
        <td th:text="${question.answers[0]}"></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td> b </td>
        <td th:text="${question.answers[1]}"></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td> c </td>
        <td th:text="${question.answers[2]}"></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td> d </td>
        <td th:text="${question.answers[3]}"></td>
    </tr>
</table>

</body>
</html>