<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>test maker</title>
    <link rel="stylesheet" href="dist/test_maker.css">

    <script src="https://kit.fontawesome.com/636db4ca92.js" crossorigin="anonymous"></script>
</head>
<body>

<aside></aside>

<main>

    <section id="top-navbar-wrapper">

        <form action="" id="test-name-form">

            <input type="text" />
            <select>
                <option>opt</option>
            </select>

        </form>

        <div id="variant-select-wrapper">

            <div class="variant closed"></div>
            <div class="variant closed"></div>
            <div class="variant closed"></div>
            <div class="variant opened"></div>
            <button class="new-variant-btn">+</button>

        </div>

    </section>

    <section id="preview-wrapper"></section>
</main>

<script src="dist/question_fetch.js"></script>
<script src="dist/preview_manager.js"></script>
<script type="module" src="dist/send_test.js"></script>
</body>
</html>