<!DOCTYPE html>
<html lang="cs" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{dist/pdf-template.css}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Stack+Sans+Notch:wght@200..700&display=swap" rel="stylesheet">
</head>
<body>


<header>
    <span class="header-test-variant">Variant</span>
    <hr>
    <div class="header-row-one">
        <span class="header-test-subject">Subject</span>
        <span class="header-test-date">Date: </span>
    </div>
    <span class="header-name">Name: </span>
    <hr>
</header>


<div class="questions"  th:each="question, questionData : ${questions}"  >
    <div class="question-wrapper">
<!-- First row ... space for the question assignment and the number of the question -->
        <div class="flex-row-one">
            <span class="question-number" th:text="${questionData.index + 1}"></span>
            <span class="question-assignment" th:text="${question.assignment}"></span>
        </div>


<!-- Second row ... space for answer and the answers themselves -->
        <div class="flex-row-two">
            <div class="answer">
                <span>Answer: </span>
            </div>
            <!-- Answers layout -->
            <div class="answers-grid" style="margin-left: 12pt;">
                <div th:each="ans, ansIter : ${question.answers}" class="answer-line" style="margin-bottom: 2pt;">
                    <span th:text="${#strings.substring('ABCDEFGHIJ', ansIter.index, ansIter.index + 1)} + ') '">A) </span>
                    <span th:text="${ans}">Option text</span>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>